@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@theme{
  --color-bg: #282828;
  --color-text: #6C6C6C;
  --color-primary: #F40404;
  --color-border: #FFB800;
  --color-light-bg: #F0F0F0;
  --font-primary: 'Poppins', sans-serif;
}
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')format('truetype');
  /* Add more src declarations for different font formats if needed */
  font-weight: normal;
  font-style: normal;
}

body{
  scroll-behavior: smooth;
}